{%extends 'store/base.html'%}
{%block content%}
{%load cart%}
{%load customefilters%}
    <div class="container"> 
        <div class="border rounded p-4 m-4">
            <p class="display-4 pl-4 ml-4">Cart</p>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Image</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    {%for product in products%}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.price|currency}}</td>
                            <td>{{product|cart_count:request.session.cart}}</td>
                            <td><img class="rounded-circle"style="height: 80px;"src="{{product.image.url}}" alt="Card image cap"></td>
                            <td>{{product|product_total_price:request.session.cart|currency}}</td>
                        </tr>
                    {%endfor%}
                    
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5">Total</th>
                        <!-- here we are using products because we are adding price of all cart products which will be in the list -->
                        <th>{{products|cart_total_price:request.session.cart|currency}}</th> 
                    </tr>
                </tfoot>
            </table>
            <hr>
            <div class="m-3 p-3">
                <a href="#"data-toggle="modal" data-target="#exampleModal" class="btn btn-success btn-outline-info border rounded col-lg-3 float-right" style="color: whitesmoke;">Check out</a>
            </div>
        </div>
    </div>



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Check Out</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
            <form action="{%url 'check_out'%}" method="POST">
                {%csrf_token%}
                <div class="form-group">
                  <label for="">Address</label>
                  <input type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  
                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="number" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId">
                    
                </div>
                <input type ="submit" value="Check Out" class="btn btn-success btn-outline-info border rounded col-lg-6 float-right"style="color: whitesmoke;"/>
            </form>
          </div>
        </div>
       
      </div>
    </div>
  </div>
{%endblock%}