{%extends 'store/base.html'%}




{%block content%}
	<div class="container-fluid">
			<div class="row mx-auto">
					{%for product in products%}
						<div class="card mx-auto mb-3" style="width: 18rem;">
							<img class="card-img-top" src="" alt="Card image cap">
							<div class="card-body">
							<h5 class="card-title">{{product.name}}</h5>
							<p class="card-text">{{product.price}}</p>
							<a href="#" class="btn btn-primary">Add To Cart</a>
							</div>
						</div>
					
					{%endfor%}
				</div>
	</div>
	
{%endblock%}
