{%extends 'store/base.html'%}




{%block content%}
	<div class="row mx-auto">
		<div class="col-lg-2 mx-auto">
			<div class="list-group mt-3">
				<a href="#" class="list-group-item list-group-item-action active">Category</a>
				<a href="/" class="list-group-item list-group-item-action">All</a>
				{%for category in categories%}
				
				<a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category.name}}</a>
				{%endfor%}
			</div>
		</div>
		<div id="product" class="col-lg-10 mx-auto">
			<div class="container-fluid mt-3">
				<div class="row mx-auto">
					{%for product in products%}
						<div class="card mx-auto mb-3" style="width: 18rem;">
							<img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
							<div class="card-body">
							<h5 class="card-title">{{product.name}}</h5>
							<p class="card-text">{{product.price}}</p>
							<a href="#" class="btn btn-primary">Add To Cart</a>
							</div>
						</div>
					
					{%endfor%}
				</div>
			</div>
		</div>
	</div>
	
{%endblock%}
