{%extends 'store/base.html'%}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{%static 'store/css/register.css'%}">
<link rel="stylesheet" href="{%static 'store/css/loginbutton.css'%}">
<style>
  
</style>

<div id="body" class="text-center">
    <form action="/login" method="POST" class="form-signin">
      {%csrf_token%}
        <img class="mb-4" src="static/store/images/logo.jpg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        {%if error%}
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
        {%endif%}
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email"id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <div id="buttonbody">
          <a id="buttonbody1" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Neon Button
          </a>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
      </form>
</div>
{%endblock%}