{%extends 'store/base.html'%}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{%static 'store/css/register.css'%}">
<div id=body class="text-center border rounded">
    <form action="/register" method="POST" class="form-signin">
      
      {%csrf_token%}
        <img class="mb-4" src="static/store/images/logo.jpg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
        {%if error%}
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
        {%endif%}
        <label for="inputFirstName" class="sr-only">First Name</label>
        <input type="text" name="first_name" value="{{values.first_name}}" id="inputFirstName" class="form-control" placeholder="for example Waqar" required>

        <label for="inputFirstName" class="sr-only">Last Name</label>
        <input type="text" name="last_name" value="{{values.last_name}}" id="inputLasttName" class="form-control" placeholder="for example Khan" required>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" value="{{values.email}}" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

        <label for="inputPhone" class="sr-only">Phone</label>
        <input type="number" name="phone" value="{{values.phone}}" id="inputPhone" class="form-control" placeholder="03452564521" required>

        <label for="inputAddress" class="sr-only">Address</label>
        <input type="text" name="address" value="{{values.address}}" id="inputAddress" class="form-control" placeholder="Kanju Chowk" required>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
      </form>
</div>
{%endblock%}